<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333432310181-petdp1sqqs58a80rrveva4b09fkkj86j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333432310181-petdp1sqqs58a80rrveva4b09fkkj86j</string>
	<key>API_KEY</key>
	<string>AIzaSyBzrNsQcMY_PF4-PRZScr2RsBrlGQW8KHU</string>
	<key>GCM_SENDER_ID</key>
	<string>333432310181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.secondnotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>firstnotes-learning-project123</string>
	<key>STORAGE_BUCKET</key>
	<string>firstnotes-learning-project123.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333432310181:ios:dbea45a1aa09c7fd10c04c</string>
</dict>
</plist>